@media screen  and (max-device-width: 1080px){

    :root{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    body{
       max-width: 100%;
       
    }
    
    main{
        background-color: white;
        max-width: 1100px;
        margin: auto;
        box-shadow: 0px 0px 10px 0px rgba(39, 39, 39, 0.156);
        height: 1680px;	
        word-spacing: 2px;
        line-height: 28px;
    }
    p{
        font-size: 12px;
        max-width: 550px;
        margin: auto;
    }

article,section,div, .titulo, main{
    max-width: 650px;
    margin: auto;
    justify-content: center;
    order: 0;
    z-index: 0;
}
h1{
    font-size: 35px;
    margin: auto;
    margin-top: 20px;
    padding: 2px;
    margin: 5px;
    line-height: 40px;
}
nav{
    min-width: 715px;
    height: 75px;
    background-color: rgb(84, 22, 22);
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.366);
    z-index: 1;
}
.blog{
    display: flex; 
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
    align-items: center;
    padding: 10px;
}
img{
    max-width: 620px;
}

.chamada-trailer{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    top: 28px;
}

aside{
    min-width: 715px;
    height: 380px;
    margin: auto;
    background-image: none;
    box-shadow: none;
    box-shadow: none;
}
iframe{
    min-width: 500px;
    min-height: 200px;
}


footer{
    width: 100%;
}
.rodape{
    background-color: none;
}
}